@import url('http://fonts.googleapis.com/css?family=Open+Sans');
html{
	height:100%;
}

body{
	color:#333;
}

button:focus{
	outline-color:white;
}

.btn {
	background-color:#9b6bcc;
	border-color:#9b6bcc;
	color:#000000 !important;
}
.btn-primary:hover {
	background-color:#4d004d;
	border-color:#4d004d;
}
.btn a{
	color:white !important;
	text-decoration: none;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active
{
	background-color:purple !important;
	border-color:white;
	color:white;
}

#topdiv {
	padding-top:5em;
	//padding-bottom:6em;
}

#topdiv img {
	z-index:3;
	position:relative;
}
#middlediv h2,
#middlediv p {
}

#bottomdiv h3{
	padding-top:0.5em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container, .container-fluid
{
	padding:20px;
	
}
.carousel {
	max-width:400px;
}

.mascotprofile {
	height:7.8em;
	padding:1em 1em;
}

.navbar-toggler {
	color: white;
}

.parallaxbg {
  color: #fff;
  padding: 6em 0;
  position: relative;
  text-align: center;
  background: url(../img/2-3.jpg) no-repeat center center fixed;
  background-size: cover;
}

.parallaxbg:after {
	z-index:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.8);
}

.parallaxbg:before {
	z-index:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: url(../img/gridtile.png) repeat;
}

/*Parallax Quote Inner*/
.parallaxbg-in {
  z-index: 1;
  padding: 0 80px;
  position: relative;
}

.parallaxbg-in p {
  color: #fff;
  font-size: 28px;
  font-family: "Open Sans", Arial, sans-serif;
}

.parallaxbg-in p:after,
.parallaxbg-in p:before {
  position: absolute;
  font-family: Tahoma;
}

.parallaxbg-in p:after {
  margin-left: 3px;
}

.parallaxbg-in p:before {
  margin-left: -15px;
}

.parallaxbg-in small {
  color: #bbb;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 768px){
  .parallaxbg-in {
    padding: 0 40px;
  }

  .parallaxbg-in p {
    font-size: 20px;
  }
}

/*Parallax Quote Light*/
.parallaxbg-light:after {
  background: rgba(255,255,255,0.9);
}

.parallaxbg-light .parallaxbg-in {
  padding: 30px 80px;
}

.parallaxbg-light .parallaxbg-in p {
  color: #555;
  font-size: 28px;
  font-weight: 200;
}

.parallaxbg-light .parallaxbg-in small {
  color: #555;
}

@media (max-width: 768px){
  .parallaxbg-light .parallaxbg-in {
    padding: 30px 40px;
  }

  .parallaxbg-light .parallaxbg-in p {
    font-size: 20px;
  }

  .parallaxbg-light .parallaxbg-in small {
    font-weight: 200;
  }
}
@media (max-width: 28em) {
	#topdiv {
	padding-bottom:8em;
	margin-bottom:6em;
	}
	#middlediv {
	margin-top:4em;
	}
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
	margin-bottom: 60px;
}*/
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #9b6bdd;
}*/

