<div class="container">
    <div class="row titlerow">
        <h1>About Luz Threads</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
             <img class="img-fluid center-block" src="/img/luz.jpg" style="width:200px;" alt=""/>
        </div>
        <div class="col-sm-6">
            <h2>Luz Camacho</h2>
            <h4>Craft Master</h4>
            <p>My name is Luz. I am the face behind Luz Threads. For over 2 years I have been crocheting and making commissions and gifts. My dream is to own a little shop.</p>
            <p>I am a Pinterest fanatic. Pinterest is where I learned to crochet and found awesome patterns. I now have an obsession with yarn.</p>
            <!--<p>Enjoy my website and commission my handmade items for yourself, your kids, your friends, and anyone else who needs a smile on their face!</p>-->
        </div>
        <div class="col-sm-2">
            <h5>Follow Luz:</h5>
            <ul class="col list-inline">
                <li><a href="http://www.pinterest.com/luzthreads">Pinterest</a></li>
                <li><a href="http://www.facebook.com/luzthreads">Facebook</a></li>
                <li><a href="http://www.twitter.com/luzthreads">Twitter</a></li>
            </ul>
         </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
             <img class="img-fluid center-block" src="/img/justin.jpg" style="width:200px;" alt=""/>
        </div>
        <div class="col-sm-6">
            <h2>Justin Johnson</h2>
            <h4>Web Master</h4>
            <p>I'm Justin, the developer of this website. If you need a website made, let me know.</p>
            <p>There are always new projects being added to my list.</p>
        </div>
        <div class="col-sm-2">
            <h5>Follow Justin:</h5>
            <ul class="list-inline">
                <li><a href="https://github.com/Auxilinaut">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/justinjohnsonjdj">LinkedIn</a></li>
                <li><a href="https://www.facebook.com/justinjohnsonjdj">Facebook</a></li>
            </ul>
        </div>
    </div>
</div>