<div *ngIf="craft" class="container">
	<div class="row">
		<div class="col-sm-6">
			<h2>{{craft.name}}</h2>
			<h5>{{craft.type}}</h5>
			<p [innerHTML]="craft.description"></p>
		</div>
	</div>
	<div class="row">
		<div *ngIf="craft.image2!==''" class="col-sm-6">
			<img src="{{craft.image1}}" class="imgdetail img-rounded img-fluid text-xs-center" (click)="goToDetail(craft.id+1)"/>
		</div>
		<div *ngIf="craft.image2!==''" class="col-sm-6">
			<img src="{{craft.image2}}" class="imgdetail img-rounded img-fluid text-xs-center" (click)="goToDetail(craft.id+1)"/>
		</div>
		<div *ngIf="craft.image2===''" class="col-xs-12">
			<img src="{{craft.image1}}" class="imgdetail img-rounded img-fluid center-block" (click)="goToDetail(craft.id+1)"/>
		</div>
	</div>
	<div class="row" style="padding-top:1em;">
		<div class="col-xs-6">
			<a href="" class="pull-xs-right">Request a craft like this!</a>
		</div>
		<div class="col-xs-6">
			<div class="pull-xs-left">
				<button class="btn" *ngIf="previouscraft" (click)="goToDetail(craft.id-1)"><</button>
				<button class="btn" *ngIf="nextcraft" (click)="goToDetail(craft.id+1)">></button>
			</div>
		</div>
	</div>
</div>