<div id="topdiv" class="container">
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="img/mascot.png" class="hidden-sm-down" style="height:450px;overflow:visible;margin-bottom:-110px;"/>
				<img src="img/mascot.png" class="hidden-md-up" style="height:320px;overflow:visible;margin-bottom:-50px;"/>
			</center>
		</div>
		<div class="col-md-6">
				<div class="row"><center><h1>Welcome!</h1><img src="img/luz.jpg" class="mascotprofile"/></center>
				
					<center><p>My name is Luz. I crochet handcrafted toys, dolls, and other things. If you want to get someone a cool gift, I can make one for you!</p>
					<a type="button" class="btn btn-primary" [routerLink]="['/About']">About</a>
					<a type="button" class="btn btn-primary" [routerLink]="['/Contact']">Contact</a>
					</center>
				</div>
		</div>
	</div>
</div>
<div id="middlediv" class="parallaxbg parallaxbg-light">
	<div class="parallaxbg-in">
		<p>Check out my craft collection!</p>
		<a type="button" class="btn btn-primary btn-lg" [routerLink]="['/Crafts']">Portfolio</a>
	</div>
</div>
<div id="bottomdiv" class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Recent Projects</h3>
			<center>
			<carousel [interval]="3000" [noWrap]="false">
				<slide *ngFor="let craft of crafts"
					(click)="gotoDetail(craft)"
					[active]="craft.active">
					<img src="{{craft.image6}}" alt="{{craft.name}}"/>
					<div class="carousel-caption">
						<h4>{{craft.name}}</h4>
					</div>
				</slide>
			</carousel>
			</center>
		</div>
		<div class="col-md-6">
			<h3>Instagram</h3>
				<center><div id="instafeed"></div></center>
		</div>
	</div>
</div>