<div class="featurette">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid profile rounded" src="./assets/img/mascot4.jpg" alt=""/>
            </div>
            <div class="col-md-8" style="text-align:left;">
                <p style="padding-top:2em;">I'm Luz, the face behind Luz Threads. For over 5 years I have been crocheting and making commissions and gifts. My dream is to own a little shop.</p>
                <p>I am a Pinterest fanatic. Pinterest is where I learned to crochet and found awesome patterns. I now have an obsession with yarn.</p>
                <p>Take a look at my <a routerLink="/crafts">crafts</a>, and tell me what you want to see next!</p>
                <h5>Follow Me:</h5>
                <ul class="col list-inline">
                    <li><a href="http://www.instagram.com/luzthreads">Instagram</a></li>
                    <li><a href="http://www.facebook.com/luzthreads">Facebook</a></li>
                    <li><a href="http://www.twitter.com/luzthreads">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>