<div class="featurette">
    <div class="container">
        <div class="row">
          <div class="col">
              <h4>Luz Camacho</h4>
              <p>
                  <strong>E:</strong> <a href="mailto:Luz@LuzThreads.com">Luz@LuzThreads.com</a>
                  <br/>
                  <strong>P:</strong> <a href="tel:732-497-2929">(732) 497-2929</a>
              </p>
          </div>
        </div>
        <div class="row py-3">
            <div class="col">
                <p>
                    How do you like the crafts on my <a routerLink="/crafts">portfolio</a>? Got any questions or comments about a commission? Email or call me!<br/>
                    If I don't have projects backed up, I can give you a quote for whatever craft you want made.<br/>
                    Also, follow me on <a href="http://www.instagram.com/luzthreads">Instagram</a>, <a href="http://www.facebook.com/luzthreads">Facebook</a>, and <a href="http://www.twitter.com/luzthreads">Twitter</a>!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ngui-map zoom="15" center="Newark, NJ, USA"></ngui-map>
            </div>
        </div> 
    </div>
</div>