<div class="container">
    <div class="row">
        <div class="callout alert" *ngIf="error">
            {{ error }}
        </div>
        <h2>Login</h2>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <div class="row">
                <div class="col-xs-4">
                    <label> Enter email address
                        <input type="email" name="email" placeholder="e.g email@address.com" (ngModel)="email" requred>
                    </label>
                </div>
                <div class="col-xs-4">
                    <label> Password
                        <input type="password" name="password" (ngModel)="password" required>
                    </label>
                </div>
                <div class="col-xs-4">
                <button type="submit" class="button" [disabled]="!formData.valid">Submit</button>
                <br/>
                <a routerLink="/signup">Don't have an account?</a> &bull; <a routerLink="/password-reset">Forgotten password?</a>
                </div>
            </div>
        </form>
    </div>
</div>