<div class="container">
    <div class="row titlerow">
        <h1>Luz Threads Team</h1>
    </div>
    <!--Luz-->
    <div class="row" style="padding:1em;">
        <div class="col-sm-4">
             <img class="img-fluid profile" src="/img/luz.jpg" alt=""/>
        </div>
        <div class="col-sm-8">
            <h2>Luz Camacho</h2>
            <h4>Craft Master</h4>
            <p>I'm Luz, the face behind Luz Threads. For over 4 years I have been crocheting and making commissions and gifts. My dream is to own a little shop.</p>
            <p>I am a Pinterest fanatic. Pinterest is where I learned to crochet and found awesome patterns. I now have an obsession with yarn.</p>
            <p>Take a look at my <a routerLink="/crafts">crafts</a>, and tell me what you want to see next!</p>
            <h5>Follow Luz:</h5>
            <ul class="col list-inline">
                <li><a href="http://www.instagram.com/luzthreads">Instagram</a></li>
                <li><a href="http://www.facebook.com/luzthreads">Facebook</a></li>
                <li><a href="http://www.twitter.com/luzthreads">Twitter</a></li>
            </ul>
         </div>
    </div>
    <!--Justin-->
    <div class="row" style="padding:1em;padding-top:2em;">
        <div class="col-sm-4">
             <img class="img-fluid profile" src="/img/justin.jpg" alt=""/>
        </div>
        <div class="col-sm-8">
            <h2>Justin Johnson</h2>
            <h4>Web Master</h4>
            <p>I'm Justin, the developer of this website. I've been learning web development for about 2 years.</p>
            <p>There are always new projects being added to my list. If you need a website made, let me know.</p>
            <h5>Follow Justin:</h5>
            <ul class="list-inline">
                <li><a href="https://github.com/Auxilinaut">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/justinjohnsonjdj">LinkedIn</a></li>
                <li><a href="https://www.facebook.com/justinjohnsonjdj">Facebook</a></li>
            </ul>
        </div>
    </div>
</div>