<div class="container">
    <div class="row titlerow">
        <h1>Contact Luz Threads</h1>
    </div>
    <div class="row">
        <div class="col-md-4 hidden-sm-down">
            <img class="img-fluid" src="/img/mascot.png" style="max-height:450px;"/>
        </div>
        <div class="col-md-8">
            <p>
                <strong>E:</strong> <a href="mailto:Luz@LuzThreads.com">Luz@LuzThreads.com</a><br/>
                <strong>P:</strong> <a href="tel:973-475-8589">(973)475-8589</a> <a href="tel:973-475-8589">(973)475-8LUZ</a>
            </p>
            <p>
                Like what you see on my <a routerLink="/crafts">portfolio</a>? Got any questions or comments regarding a commission? E-mail or call me!<br/><br/>
                If I don't have projects backed up, I can give you a quote for whatever craft you want made.
            </p>
        </div>
    </div>
            
</div>