<div *ngIf="craft">
	<div class="alternate">
		<div class="container" style="text-align: center;">
			<div class="row p-y-1">
				<div class="col-xs-2" style="padding-top:1em">
					<button class="btn btn-sm pull-xs-right" *ngIf="nextcraft" (click)="goToDetail(craft.id+1)"><</button>
				</div>
				<div class="col-xs-8">
					<h1 class="text-center">{{craft.name}}</h1>
				</div>
				<div class="col-xs-2" style="padding-top:1em">
					<button class="btn btn-sm pull-xs-left" *ngIf="previouscraft && !previouscraft.wip" (click)="goToDetail(craft.id-1)">></button>
				</div>
			</div>
		</div>
	</div>
	<div class="featurette" style="padding-top:0">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<ngb-carousel class="custom-carousel" [class.carousel-hide-ol]="!craft.image2">
						<template ngbSlide>
							<img src="{{craft.image1}}" class="center-block" alt="{{craft.name}}"/>
						</template>
						<template *ngIf="craft.image2" ngbSlide>
							<img src="{{craft.image2}}" class="center-block" alt="{{craft.name}}"/>
						</template>
						<template *ngIf="craft.image3" ngbSlide>
							<img src="{{craft.image3}}" class="center-block" alt="{{craft.name}}"/>
						</template>
						<template *ngIf="craft.image4" ngbSlide>
							<img src="{{craft.image4}}" class="center-block" alt="{{craft.name}}"/>
						</template>
					</ngb-carousel>
				</div>
			</div>
			<div class="row" style="padding:1em;">
				<div class="col-xs-12">
					<p [innerHTML]="craft.description"></p>
					<a routerLink="/crafts">Back to portfolio</a>
				</div>
			</div>
		</div>
	</div>
</div>