<div id="topdiv" class="masthead">
	<div class="container">
		<div class="row">
			<div class="col-md-6 hidden-md-up">
				<h1 style="padding-top:0;">LUZ THREADS</h1>
				<h2 class="lead">AWESOME HANDMADE <span class="serious">CRAFTS</span></h2>
			</div>
			<div class="col-md-6">
					<img src="img/mascot.png" class="hidden-sm-down center-block" style="height:450px;overflow:visible;margin-bottom:-110px;"/>
					<img src="img/mascot.png" class="hidden-md-up center-block" style="height:320px;overflow:visible;margin-bottom:-80px;"/>
			</div>
			<div class="col-md-6 hidden-sm-down">
				<h1>LUZ THREADS</h1>
				<h2 class="lead">AWESOME HANDMADE <span class="serious"><b>CRAFTS</b></span></h2>
				<p> 
			</div>
		</div>
	</div>
</div>
<div id="middlediv" class="parallaxbg parallaxbg-light">
	<div class="parallaxbg-in">
		<p>Check out my craft collection!</p>
		<a type="button" class="btn btn-primary btn-lg" routerLink="/crafts">Portfolio</a>
	</div>
</div>
<div class="featurette">
	<div class="container">
		<div class="row">
			<h2 class="featurette-title">Welcome!</h2>
			<div class="col-xs-12">
				<img src="img/luz.jpg" class="mascotprofile center-block"/>
				<p class="lead">My name is Luz. I make handcrafted toys, dolls, and other things. Almost every day, I am crocheting something. </p>
				<a type="button" class="btn btn-primary" routerLink="/about">About</a>
				<a type="button" class="btn btn-primary" routerLink="/contact">Contact</a>
			</div>
		</div>
	</div>
</div>
<div class="featurette alternate">
	<div class="container">
		<div class="row">
			<h2 class="featurette-title">Recent Projects</h2>
			<div class="col-xs-12">
					<ngb-carousel class="custom-carousel">
						<ng-template ngbSlide *ngFor="let craft of crafts">
							<img src="{{craft.image6}}" (click)="gotoDetail(craft)" class="center-block" alt="{{craft.name}}"/>
						</ng-template>
					</ngb-carousel>
			</div>
		</div>
	</div>
</div>
<div class="featurette">
	<div class="container">
		<div class="row">
			<h2 class="featurette-title">Instagram</h2>
			<div class="col-xs-12">
				<div id="instafeed"></div>
			</div>
		</div>
	</div>
</div>