<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <h5 class="text-center">
            Dashboard
            </h5>
            <div class="text-center">
                <ul class="menu">
                    <li>Dashboard</li>
                    <li><a routerLink="/dashboard/profile">Profile</a></li>
                    <li><a routerLink="/dashboard/account">Account</a></li>
                    <li><a routerLink="/dashboard/settings">Settings</a></li>
                </ul>
            </div>
            <router-outlet></router-outlet>
		</div>
	</div>
</div>
