<div id="topdiv" class="masthead">
	<div class="container">
		<div class="row">
			<div class="col-md-6 d-md-none">
				<h1 style="padding-top:0;">LUZ THREADS</h1>
				<h2 class="lead">AWESOME HANDMADE <span class="serious"><a routerLink="/crafts"><b>CRAFTS</b></a></span></h2>
			</div>
			<div class="col-md-6">
					<img src="./assets/img/mascot.png" class="d-none d-md-block center-block" style="height:450px;overflow:visible;margin-bottom:-110px;"/>
					<img src="./assets/img/mascot.png" class="d-md-none center-block" style="height:320px;overflow:visible;margin-bottom:-78px;"/>
			</div>
			<div class="col-md-6 d-none d-md-block">
				<h1>LUZ THREADS</h1>
				<h2 class="lead">AWESOME HANDMADE <span class="serious"><a routerLink="/crafts"><b>CRAFTS</b></a></span></h2>
				<p> 
			</div>
		</div>
	</div>
</div>
<div id="middlediv" class="parallaxbg parallaxbg-light">
	<div class="parallaxbg-in">
		<p>Check out my craft collection!</p>
		<a type="button" class="btn btn-primary btn-lg" routerLink="/crafts">Portfolio</a>
	</div>
</div>
<div class="featurette" style="text-align: inherit;">
	<div class="container text-center">
		<h2 class="featurette-title">About Me</h2>
		<div class="row">
			<div class="col">
				<a routerLink="/about"><img src="./assets/img/luz.jpg" class="mascotprofile img-thumbnail"/></a>
      		</div>
		</div>
    	<div class="row">
			<div class="col py-2">
				<p class="lead">My name is Luz Camacho.<br/>I make custom toys and dolls.<br/>I crochet something almost every day!</p>
        		<a type="button" class="btn btn-lg" routerLink="/about">About</a>
      		</div>
    	</div>
	</div>
</div>
<div class="featurette alternate">
	<div class="container">
		<h2 class="featurette-title">Featured Crafts</h2>
		<div class="row">
			<div *ngFor="let craft of crafts" class="col-md-4 py-2">
				<div class="projContainer" (click)="goToDetail(craft)"><div class="projInfoContainer"><h4 [innerHTML]="craft.name"></h4></div><img src="./assets/{{craft.image6}}" class="img-fluid"/></div>
			</div>
		</div>
	</div>
</div>